<div class="container-fluid">
    <div class="row mt-5">
        <div class="font-[sans-serif] bg-white">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="grid grid-cols-1 gap-y-10 md:grid-cols-2 gap-x-12">
                <div>
                    <p class="text-base text-gray-500 my-5"> At AHDO we have always been committed to maintaining high standards of ethical conduct in our business and our dealings with other people and entities. How we do business is as important as what we do and why we do it.</p>
                    <p class="text-base text-gray-500 mb-5">We understand that any failure of integrity will risk damaging our long-term success. We conduct our business in adherence to principles of quality, integrity, transparency, dignity and respect for all.</p>
                    <p class="text-base text-gray-500 mb-5">AHDO’s Code of Conduct provides all AHDO employees, and others who act for us, with a clear understanding of the principles of business conduct, standards, and ethical behaviors that are expected of them. We entrust each and every member of our global team to uphold and abide by the principles and standards the Code sets out.</p>
                </div>
                <div class="text-center">
                    <div class="mb-4">
                        <img src="../../../assets/Images/code-conduct.jpg" alt="" class="w-50 inline rounded-lg lg:w-10/12 w-full object-cover" />
                    </div>
                    <div class="mb-4">
                        <img src="../../../assets/Images/code-conduct2.jpg" alt="" class="w-50 inline rounded-lg lg:w-10/12 w-full object-cover" />
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ------------------------------------------------------ -->
          <div class="bg-[#F7F7F7] text-[#333] font-[sans-serif]">
            <div class="max-w-6xl mx-auto py-16 px-4">
              <h2 class="text-4xl font-extrabold text-center mb-16">Discover Our Exclusive Features</h2>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 max-md:max-w-md mx-auto">
                <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <div class="p-6 d-flex justify-content-center flex-column align-items-center">
                    <i class="bi bi-pc-display-horizontal" style="font-size: 2rem;"></i>
                    <h3 class="text-xl font-semibold mb-2">A Digital Agency</h3>
                  </div>
                </div>
                <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <div class="p-6 d-flex justify-content-center flex-column align-items-center">
                    <i class="bi bi-cloud-upload" style="font-size: 2rem;"></i>
                    <h3 class="text-xl font-semibold mb-2">Forward Thinking</h3>
                  </div>
                </div>
                <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <div class="p-6 d-flex justify-content-center flex-column align-items-center">
                    <i class="bi bi-gear" style="font-size: 2rem;"></i>
                    <h3 class="text-xl font-semibold mb-2">Problem Solvers</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>