<!-- <div class="container light">
  <div class="row py-5">
    <div class="col-12 d-flex justify-content-center header">AHDO IN MEDIA AND CSR EVENTS</div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center header bg-red-500"
      style="color: rgb(255, 255, 255); font-size: 2.2rem;">AHDO in TV, Radio and Newspapers:</div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 g-5 py-3 col-9">
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E1.jpg" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">

            <p class="card-text">AHDO MD, is being honored during the international “Food Festival” in Sharm El-Sheikh
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E2.jpg" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E3.png" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">

            <p class="card-text">AHDO MD, during a TV interview on Nile Family channel</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E4.png" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">

            <p class="card-text">AHDO MD’s food safety related articles in many newspapers</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E5.png" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">

            <p class="card-text">AHDO MD’s food safety related articles in many newspapers</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E6.png" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">

            <p class="card-text">AHDO MD’s food safety related articles in many newspapers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 d-flex justify-content-center header bg-red-500"
      style="color: rgb(255, 255, 255); font-size: 2.2rem;">WHO and US FDA Workshops:</div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 g-5 py-3 col-9">
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E7.jpg" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">

            <p class="card-text">Part of AHDO cooperation with Egyptian Health Technologist Syndicate during the
              training of its inspectors</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E8.jpg" class="card-img-top" alt="..." style="height: 50vh;">
          <div class="card-body light">
            <p class="card-text">During “The US-FDA HACCP the Process Approach” workshop participated by food safety
              leading professionals and inspectors</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 d-flex justify-content-center header bg-red-500"
      style="color: rgb(255, 255, 255); font-size: 2.2rem;">Around the Globe Events:</div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-5 py-3 col-9">
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E9.jpg" class="card-img-top" alt="..." style="height: 45vh;">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E10.png" class="card-img-top" alt="..." style="height: 45vh;">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E11.jpg" class="card-img-top" alt="..." style="height: 45vh;">
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-12 d-flex justify-content-center">Our activities for trainees around the globe; Latin America for East Eastern Europe, Africa and Middle East</div>
  </div>
  <div class="row my-5">
    <div class="col-12 d-flex justify-content-center header bg-red-500"
      style="color: rgb(255, 255, 255); font-size: 2.2rem;">AHDO Participation in Africa Food Manufacturing Forum:</div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 g-5 py-3 col-9">
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E12.jpg" class="card-img-top" alt="..." style="height: 45vh;">
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/Images/E13.jpg" class="card-img-top" alt="..." style="height: 45vh;">
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-12 d-flex justify-content-center">Our activities for trainees around the globe; Latin America for East Eastern Europe, Africa and Middle East</div>
  </div>
</div> -->




<div class="container">
  <div class="row py-5">
    <div class="col-12 d-flex justify-content-center header">AHDO IN MEDIA AND CSR EVENTS</div>
  </div>
  <div class="row">
    <div *ngFor="let events of events" class="col-12 my-4">
      <div class="col-12 d-flex justify-content-center header bg-red-500"
        style="color: rgb(255, 255, 255); font-size: 2.2rem;">{{events.name}}
      </div>
      <div class="flex-wrap d-flex col-12 justify-content-md-around justify-content-center my-5">
        <div *ngFor="let eventsDetails of events.eventDetail" class="col-md-5 col-12 my-4 card h-100">
          <img src="{{eventsDetails.imageUrl}}" class="card-img-top" style="height: 60vh;">
          <div class="card-body">
            <p class="card-text d-flex justify-content-center">{{eventsDetails.notes | wordLimit:20}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

