<div class="container">
    <div class="row py-5">
      <div class="col-12 d-flex justify-content-center header" style="background-color: #4D95D0;color: white;">Our Blogs</div>
    </div>
    <div *ngFor="let blogs of blogs; let i = index" class="row font-[sans-serif] bg-white my-5"
        [ngClass]="{ 'direction': i % 2 === 0 }">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-100">
            <div class="grid grid-cols-1 gap-y-10 md:grid-cols-2 gap-x-12">
                <div class="text-right d-flex justify-content-center align-items-center">
                    <img *ngIf="blogs.imageUrl" src="{{blogs.imageUrl}}" alt=""
                        class="inline rounded-lg lg:w-10/12 w-full object-cover" />
                    <img *ngIf="!blogs.imageUrl"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7FY7NUApnmf3eu5_bYdyA3W6z0Fo3oljgFA&s" />
                </div>
                <div dir="rtl">
                    <h2 dir="rtl" class="text-[#333] text-4xl font-extrabold mb-6">{{blogs.header}}</h2>
                    <div dir="rtl"><span style="font-weight: 600;">By:</span> {{blogs.writtenBy}} | <span
                            style="font-weight: 600;">Date:</span> {{blogs.writtenDate | date}}</div>
                    <p dir="rtl" class="text-base text-gray-500">{{blogs.details}}</p>
                    <a dir="rtl" [routerLink]="['/blogsDetails', blogs.id]"
                        class="inline-block mt-6 px-6 py-2.5 bg-green-500 text-white text-base font-medium rounded-md hover:bg-green-600">المزيد...</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <hr class="mt-5 w-75 d-flex"/>
        </div>
    </div>
</div>