<footer class="bg-gray-900 p-10 font-[sans-serif] tracking-wide">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="lg:flex lg:items-center">
        <a href="javascript:void(0)">
          <img src="../../../assets/Images/AhdoLogo.png" alt="logo" class="w-52" />
        </a>
      </div>

      <div>
        <h4 class="text-lg font-semibold mb-6 text-white">About Us</h4>
        <ul class="space-y-4">
          <li>
            <a routerLink="/about-us" class="text-gray-300 hover:text-white text-sm" >Who are we</a>
          </li>
          <li>
            <a routerLink="/vision-mission-values" class="text-gray-300 hover:text-white text-sm">Vision &
              Mission & Values</a>
          </li>
          <li>
            <a routerLink="/our-code-of-conduct" class="text-gray-300 hover:text-white text-sm">Our Code of
              Conducts</a>
          </li>
          <li>
            <a routerLink="/about-team" class="text-gray-300 hover:text-white text-sm">About The
              Team</a>
          </li>
        </ul>
      </div>

      <div>
        <h4 class="text-lg font-semibold mb-6 text-white">Information</h4>
        <ul class="space-y-4">
          <li>
            <a href="javascript:void(0)" class="text-gray-300 hover:text-white text-sm">About Us</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="text-gray-300 hover:text-white text-sm">Terms &amp; Conditions</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="text-gray-300 hover:text-white text-sm">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-6 text-white">Information</h4>
        <ul class="space-y-4">
          <li>
            <a href="javascript:void(0)" class="text-gray-300 hover:text-white text-sm">About Us</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="text-gray-300 hover:text-white text-sm">Terms &amp; Conditions</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="text-gray-300 hover:text-white text-sm">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>

    <p class='text-gray-300 text-sm mt-10'>© AHDO<a href='https://readymadeui.com/' target='_blank'
      class="hover:underline mx-1"></a>All Rights Reserved.
    </p>
  </footer>