.navbare {
    position: relative; 
    z-index: 100;/* Ensure relative positioning for absolute children */
  }
.dropdown-menu {
    position: absolute;
    z-index: 101;
    /* Other styles for the dropdown */
}
.mega-menu {
    position: absolute;
    width: 100%;
    z-index: 101; /* Ensure it appears above other content */
  }

  