<div class="font-[sans-serif] text-[#333] bg-gray-50">
    <div class="lg:max-w-7xl max-w-2xl mx-auto p-4">
      <h2 class="text-3xl font-extrabold text-center">AHDO team qualifications</h2>
      <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 max-md:justify-center mt-12">
        <div class="flex items-center max-sm:flex-col">
          <img src="../../../assets/Images/T1.jpg" class="w-full sm:h-60 rounded object-contain object-top" style="height: 55%;"/>
          <div class="p-4 sm:ml-4">
            <h4 class="text-base font-extrabold">Chartered Institute of Environmental Health</h4>
            <div class="mt-4">
              <p class="text-sm leading-relaxed">Chartered Institute of Environmental Health (CIEH) – United Kingdom accredited food safety trainers.</p>
            </div>
          </div>
      </div>
      <div class="flex items-center max-sm:flex-col">
        <img src="../../../assets/Images/T2.jpg" class=" sm:h-60 rounded object-contain object-top" style="height: 40%;"/>
        <div class="p-4 sm:ml-4">
          <h4 class="text-base font-extrabold">Highfield</h4>
          <div class="mt-4">
            <p class="text-sm leading-relaxed">Highfield Awarding Body for Compliance (HABC) – United Kingdom. Approved tutors to deliver 100% of the Food Safety related programs and qualifications.</p>
          </div>
        </div>
    </div>
    <div class="flex items-center max-sm:flex-col">
        <img src="../../../assets/Images/T4.jpg" class="w-full sm:h-60 rounded object-contain object-top" style="height: 45%;"/>
        <div class="p-4 sm:ml-4">
          <h4 class="text-base font-extrabold">Cairo University</h4>
          <div class="mt-4">
            <p class="text-sm leading-relaxed">Master Degree in Food Safety & Quality Assurance; HACCP Process approach implementation in food service establishments & retails.</p>
          </div>
        </div>
    </div>
    <div class="flex items-center max-sm:flex-col">
        <img src="../../../assets/Images/T3.jpg" class="w-full sm:h-60 rounded object-contain object-top" style="height: 45%;"/>
        <div class="p-4 sm:ml-4">
          <h4 class="text-base font-extrabold">Alazhar Unversity</h4>
          <div class="mt-4">
            <p class="text-sm leading-relaxed">Ph.D. Degree in Food Safety, Quality and Microbiology.</p>
          </div>
        </div>
    </div>
    <div class="flex items-center max-sm:flex-col">
        <img src="../../../assets/Images/T5.jpg" class="w-full sm:h-60 rounded object-contain object-top" style="height: 55%;"/>
        <div class="p-4 sm:ml-4">
          <h4 class="text-base font-extrabold">Florence University</h4>
          <div class="mt-4">
            <p class="text-sm leading-relaxed">Florence University – Italy; certified in the European Food Safety Standards and Legislations Philosophy.</p>
          </div>
        </div>
    </div>
    <div class="flex items-center max-sm:flex-col">
        <img src="../../../assets/Images/T6.jpg" class="w-75 sm:h-60 rounded object-contain object-top" style="height: 45%;"/>
        <div class="p-4 sm:ml-4">
          <h4 class="text-base font-extrabold">Harvard University</h4>
          <div class="mt-4">
            <p class="text-sm leading-relaxed">Harvard University Manage Mentor Certified.</p>
          </div>
        </div>
    </div>
    <div class="flex items-center max-sm:flex-col">
        <img src="../../../assets/Images/T7.jpg" class="w-full sm:h-60 rounded object-contain object-top" style="height: 55%;"/>
        <div class="p-4 sm:ml-4">
          <h4 class="text-base font-extrabold">AUC</h4>
          <div class="mt-4">
            <p class="text-sm leading-relaxed">Total Quality Management Postgraduate Diploma –American University in Cairo.</p>
          </div>
        </div>
    </div>
    <div class="flex items-center max-sm:flex-col">
        <img src="../../../assets/Images/T8.jpg" class="w-75 sm:h-60 rounded object-contain object-top" style="height: 35%;"/>
        <div class="p-4 sm:ml-4">
          <h4 class="text-base font-extrabold">American Society</h4>
          <div class="mt-4">
            <p class="text-sm leading-relaxed">American Society for Quality (ASQ) Certified Manager of Quality.</p>
          </div>
        </div>
    </div>

    </div>
  </div>