.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* This ensures that the container takes the full height of the carousel slide */
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
  }
  .bg-color{
    background-color:#4D95D0 !important;
    color: white;
  }
  .bg-color-text{
    color: white;
  }
  .homeBack{
    background-image: Url(../../../assets/Images/bg-effect.svg);
  }


  .custom-shape-divider-top-1717021910 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.xyxy {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 143px;
}

.custom-shape-divider-top-1717021910 .shape-fill {
    fill: #FFFFFF;
}