<div class="px-4 sm:px-10" style="background-image: url(../../../assets/Images/bg-effect.svg);">
  <div class="mb-5">
    <div class="mt-16 max-w-4xl mx-auto text-center d-flex flex-column justify-content-center" style="height: 50vh;">
      <h1 class="md:text-6xl text-4xl font-extrabold mb-6 md:!leading-[75px]">Arab Health and Development Corporation
      </h1>
      <p class="text-base">Arab Health and Development Corporation is one of the most leading names in integrated food
        and water safety, public health hospitality and development solutions.</p>
    </div>
    <hr class="my-12 border-gray-300" />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
      <a href="https://www.ahdo.co/"><img src="https://readymadeui.com/google-logo.svg" class="w-28 mx-auto"
          alt="google-logo" /></a>
      <a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.ahdo.co%2Fabout-us%2F&t=About%20Us"><img
          src="https://readymadeui.com/facebook-logo.svg" class="w-28 mx-auto" alt="facebook-logo" /></a>
      <a
        href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.ahdo.co%2Fabout-us%2F&title=About%20Us"><img
          src="https://readymadeui.com/linkedin-logo.svg" class="w-28 mx-auto" alt="linkedin-logo" /></a>
    </div>
    <hr class="my-12 border-gray-300" />
  </div>

  <div class=" px-4 py-12 font-[sans-serif] text-[#333]">
    <div class="max-w-6xl mx-auto">
      <h2 class="sm:text-4xl text-2xl font-extrabold text-center mb-16">HYGIENE AND HOSPITALITY SOLUTIONS</h2>

      <owl-carousel-o [options]="customOptionsCard">
        <ng-template *ngFor="let menu of childPagesOfFoodSafety; let i = index" carouselSlide>
          <div class="py-6 mx-4 px-4 bg-white rounded text-center" [ngClass]="{ 'bg-color': i % 2 === 0 }">
            <h3 [ngClass]="{ 'bg-color-text': i % 2 === 0 }" class="text-xl font-extrabold mb-4">{{menu.name}}</h3>
            <p [ngClass]="{ 'bg-color-text': i % 2 === 0 }" class="text-gray-500 text-sm">Qui elit labore in nisi dolore
              tempor anim laboris ipsum ad ad consequat id. Dolore et sint mollit in nisi tempor culpa consectetur.</p>
            <button [routerLink]="['/Integrated-Solutions', menu.id]" [ngClass]="{ 'bg-color-text': i % 2 === 0 }"
              class="text-sm font-semibold bg-transparent px-4 py-1.5 border-2 border-blue-500 text-blue-500 mt-6 rounded-full">Read
              More</button>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <div>
    <h2 class="sm:text-4xl text-2xl font-extrabold text-center mb-16">OUR SUCCESS PARTNERS</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="image-container">
          <img src="../../../assets/Images/A1G.png" alt="Image 1" style="width: 70%;">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="image-container">
          <img src="../../../assets/Images/A1H.png" alt="Image 2" style="width: 70%;">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>


  <div class="max-w-6xl mx-auto font-[sans-serif] text-[#333] my-16">
    <h2 class="sm:text-4xl text-2xl font-extrabold text-center mb-14">OUR SOLUTIONS FOR</h2>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-12">
      <div class="p-4 d-flex flex-column justify-content-center align-items-center border shadow">
        <img src="../../../assets/Images/individual.svg" width="15%" alt="">
        <h3 class="text-xl font-semibold mb-2 mt-3">INDIVIDUALS</h3>
      </div>
      <div class="p-4 d-flex flex-column justify-content-center align-items-center border shadow">
        <img src="../../../assets/Images/bus.svg" width="15%" alt="">
        <h3 class="text-xl font-semibold mb-2 mt-3">BUSINESS</h3>
      </div>
      <div class="p-4 d-flex flex-column justify-content-center align-items-center border shadow">
        <img src="../../../assets/Images/gov.svg" width="15%" alt="">
        <h3 class="text-xl font-semibold mb-2 mt-3">GOVERNMENTAL</h3>
      </div>
    </div>
  </div>
