<div class="container">
    <div class="d-flex justify-content-center mt-5 py-2" style="background-color: #4D95D0;color: white;">
        <h3 *ngIf="name" class="md:text-3xl text-2xl md:leading-10" style="font-size: 1.8rem;font-weight: 600;">{{name}}
        </h3>
    </div>
    <div class="row">
        <div *ngFor="let blogs of blogDetails; let i = index" [ngClass]="{ 'direction': i % 2 === 0 }"
            class="d-flex flex-wrap justify-content-center col-12 my-5">
            <div *ngIf="blogs.notes" class="d-flex flex-wrap justify-content-center">
                <div dir="rtl" class="col-md-6 col-10 d-flex flex-column justify-content-center  px-md-5 my-2 order-1">
                    <p class="mt-4" style="font-size: 1.6rem;">{{blogs.notes}}</p>
                </div>
                <div class="col-md-4 col-10 order-0 my-2">
                    <img src="{{blogs.imageUrl}}" class="w-full h-full md:object-contain" />
                </div>
            </div>
            <div *ngIf="!blogs.notes" class="d-flex flex-wrap justify-content-center">
                
                    <img src="{{blogs.imageUrl}}" class="w-full h-full md:object-contain" />
                
            </div>
        </div>
    </div>
</div>