<div
    class="relative font-sans before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10">
    <img src="../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg" alt="Banner Image"
        class="absolute inset-0 w-full h-full object-cover" />

    <div
        class="min-h-[350px] relative z-50 h-full max-w-6xl mx-auto flex flex-col justify-center items-center text-center text-white p-6">
        <h2 class="sm:text-4xl text-2xl font-bold mb-6">International IPM Professional Diploma</h2>
        <p class="sm:text-lg text-base text-center text-gray-200">International IPM Professional Diploma is a joint
            programme between Egypt and Turkey, in collaboration between AHDO and BioPheroPoint and several
            collaborations with both Egyptian and Turkish Universities, Institutions and Pre-harvest and; Post-harvest
            food businesses.</p>
    </div>
</div>
<div class=" d-flex justify-content-center my-5">
    <div class="col-7">
        <p class="py-3"><strong class="pe-2"><span style="color: #4D95D0;">Study Start Date</span>:</strong> September
            2023</p>
        <p class="py-3"><strong class="pe-2"><span style="color: #4D95D0;">Duration</span>:</strong> 9 Months ( 2
            semisters)</p>
        <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light pt-3">
            <div class="et_pb_text_inner">If interested in the Cross Training Scholarships in Turkey, Kindly note that
                you have to pass with success the English Programme included in the Diploma programme in addition to the
                interview process.</div>
        </div>
    </div>

</div>

<div id="askedSec" class="container-fluid mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-12">
            <mat-accordion class="d-flex flex-column justify-content-center">

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/flip.jpg);font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Country of study
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="d-flex align-items-center p-5 border" style="display: block;">
                        <ul>
                            <li>Egypt</li>
                            <li>Turkey<br>
                                (for accepted applications for the cross training programme)</li>
                        </ul>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: top;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Studying Fees :
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="et_pb_toggle_content clearfix border p-5" style="display: block;">
                        <ul>
                            <li>Study in Turkey is FREE of charge including the accommodation</li>
                            <li>Study in Egypt fees: EGP 24300 (For Egypt Residents),<br>USD 2250 (For Egypt
                                non-residents).</li>
                        </ul>
                        <p class="my-4">Scholarships are applied as follows:</p>
                        <table class="border"
                            style="height: 280px; width: 73.819%; border-collapse: collapse; border-style: solid; border-color: #0e2c5b; float: left;">
                            <tbody class="border">
                                <tr style="height: 24px;">
                                    <td style="width: 8.71515%; height: 24px; text-align: center;">
                                        <strong>Discount</strong>
                                    </td>
                                    <td style="width: 36.4542%; height: 24px; text-align: center;">
                                        <strong>Description</strong>
                                    </td>
                                <tr style="height: 24px;">
                                    <td style="width: 8.71515%; height: 24px; text-align: center;"><span
                                            style="color: #993300; font-family: inherit;"><strong>Up-to
                                                20%</strong></span></td>
                                    <td style="width: 36.4542%; height: 24px;">&nbsp;Fresh graduates and last year
                                        students<br><strong>(EGP 19450 </strong>instead of EGP 24300<strong>)<br>(USD
                                            1800 </strong>instead of USD 2250<strong>)<br></strong></td>
                                </tr>
                                <tr style="height: 24px;">
                                    <td style="width: 8.71515%; height: 24px; text-align: center;"><span
                                            style="color: #993300;"><strong>10%</strong></span></td>
                                    <td style="width: 36.4542%; height: 24px;">&nbsp;Extra discount for AHDO Trainees/
                                        Alumni</td>
                                </tr>
                                <tr style="height: 24px;">
                                    <td style="width: 8.71515%; height: 24px; text-align: center;"><span
                                            style="color: #993300;"><strong>10%</strong></span></td>
                                    <td style="width: 36.4542%; height: 24px;">&nbsp;Extra discount for AHDO success
                                        partners</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: left;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Entrance Fees:
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="et_pb_toggle_content clearfix border p-5" style="display: block;">
                        <ul>
                            <li><span style="font-weight: 600;">Application Fees:</span>
                                <ul>
                                    <li>EGP 450 (Non-refundable) For Egypt Residents,<br>USD 50 (Non-refundable) For
                                        non-residents</li>
                                </ul>
                            </li>
                            <li class="my-4"><span style="font-weight: 600;">English Placement test fees:</span>
                                <ul>
                                    <li>EGP 200 (Non-refundable) For Egypt Residents,<br>USD 30 (Non-refundable) For
                                        non-residents</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: 400pt;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Who can attend?
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="et_pb_toggle_content clearfix border p-5" style="display: block;"><strong>Relevant
                            Educational and/or Relevant Work Experience as the following:</strong>
                        <p></p>
                        <ul>
                            <li class="my-4">Relevant Education as:
                                <ul class="ps-3">
                                    <li>Relevant Bachelor degree in
                                        <ul class="ps-3">
                                            <li>Agriculture</li>
                                            <li>Higher Agriculture Institution for Agriculture Collaboration</li>
                                            <li>Medicine</li>
                                            <li>Veterinary</li>
                                            <li>Science</li>
                                            <li>Education</li>
                                            <li>Others,</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Relevant Work Experience as:
                                <ul class="ps-3">
                                    <li>Packhouse team members</li>
                                    <li>Animal Farming team members</li>
                                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Plant
                                            protection/production Agronomist</span></li>
                                    <li>Post Harvesting Processing team members</li>
                                    <li>Vegetables and Fruits Packhouse team members</li>
                                    <li>Other agricultural Businesses Activities team members</li>
                                    <li>Food Safety Professional team members</li>
                                    <li>Food Businesses team members</li>
                                    <li>Caterers, Hotels, Resorts, Hospital related team members</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: bottom;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Required Documents for the Application:
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="et_pb_toggle_content clearfix border p-5" style="display: block;">Registration to the Diploma requires filling an application form with fee of 350 EGP.<p></p>
                        <ul class="ps-4">
                        <li>Copy of the national ID / Passport for non-residents</li>
                        <li>Birth Certificate</li>
                        <li>Personal Photo</li>
                        <li>Updated CV</li>
                        <li>Transcript (Graduation Certificate)</li>
                        <li>Military completion certificate if applicable</li>
                        <li>Application Fees Receipt</li>
                        <li>Motivation letter</li>
                        </ul></div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</div>