<div
    class="relative font-sans before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10">
    <img src="../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg" alt="Banner Image"
        class="absolute inset-0 w-full h-full object-cover" />

    <div
        class="min-h-[350px] relative z-50 h-full max-w-6xl mx-auto flex flex-col justify-center items-center text-center text-white p-6">
        <h2 class="sm:text-4xl text-2xl font-bold mb-6">International IPM Professional Diploma</h2>
        <p class="sm:text-lg text-base text-center text-gray-200">International IPM Professional Diploma is a joint
            programme between Egypt and Turkey, in collaboration between AHDO and BioPheroPoint and several
            collaborations with both Egyptian and Turkish Universities, Institutions and Pre-harvest and; Post-harvest
            food businesses.</p>
    </div>
</div>
<div class=" d-flex justify-content-center my-5">
    <div class="col-7">
        <p class="py-3"><strong class="pe-2"><span style="color: #4D95D0;">Study Start Date</span>:</strong> September
            2023</p>
        <p class="py-3"><strong class="pe-2"><span style="color: #4D95D0;">Duration</span>:</strong> 9 Months ( 2
            semisters)</p>
        <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light pt-3">
            <div class="et_pb_text_inner">If interested in the Cross Training Scholarships in Turkey, Kindly note that
                you have to pass with success the English Programme included in the Diploma programme in addition to the
                interview process.</div>
        </div>
    </div>

</div>

<div id="askedSec" class="container-fluid mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-12">
            <mat-accordion class="d-flex flex-column justify-content-center">

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/flip.jpg);font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Country of study
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="border p-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque esse
                        repudiandae ducimus
                        veritatis, dignissimos quos dolore tempore repellendus molestias itaque, est praesentium
                        placeat porro? Quam veritatis maxime sequi amet quaerat!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum alias natus voluptate dolorem,
                        minima amet, distinctio nostrum unde sapiente, dignissimos voluptatum doloribus. Nisi,
                        perspiciatis dicta? Ducimus, molestiae eum? Quidem, culpa?
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: top;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Studying Fees :
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="border p-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque esse
                        repudiandae ducimus
                        veritatis, dignissimos quos dolore tempore repellendus molestias itaque, est praesentium
                        placeat porro? Quam veritatis maxime sequi amet quaerat!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum alias natus voluptate dolorem,
                        minima amet, distinctio nostrum unde sapiente, dignissimos voluptatum doloribus. Nisi,
                        perspiciatis dicta? Ducimus, molestiae eum? Quidem, culpa?
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: left;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Entrance Fees:
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="border p-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque esse
                        repudiandae ducimus
                        veritatis, dignissimos quos dolore tempore repellendus molestias itaque, est praesentium
                        placeat porro? Quam veritatis maxime sequi amet quaerat!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum alias natus voluptate dolorem,
                        minima amet, distinctio nostrum unde sapiente, dignissimos voluptatum doloribus. Nisi,
                        perspiciatis dicta? Ducimus, molestiae eum? Quidem, culpa?
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: 400pt;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Who can attend?
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="border p-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque esse
                        repudiandae ducimus
                        veritatis, dignissimos quos dolore tempore repellendus molestias itaque, est praesentium
                        placeat porro? Quam veritatis maxime sequi amet quaerat!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum alias natus voluptate dolorem,
                        minima amet, distinctio nostrum unde sapiente, dignissimos voluptatum doloribus. Nisi,
                        perspiciatis dicta? Ducimus, molestiae eum? Quidem, culpa?
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel class="p-4 shadow-none" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header
                        style="background-image: url(../../../assets/Images/cabecera-landing-MIAM-sin-texto.jpeg);background-position: bottom;font-weight: 600; font-size: 1.2rem;">
                        <mat-panel-description style="color: rgb(255, 255, 255);">
                            Required Documents for the Application:
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="border p-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque esse
                        repudiandae ducimus
                        veritatis, dignissimos quos dolore tempore repellendus molestias itaque, est praesentium
                        placeat porro? Quam veritatis maxime sequi amet quaerat!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum alias natus voluptate dolorem,
                        minima amet, distinctio nostrum unde sapiente, dignissimos voluptatum doloribus. Nisi,
                        perspiciatis dicta? Ducimus, molestiae eum? Quidem, culpa?
                    </p>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</div>