<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-12 d-flex flex-column justify-content-center">
            <div class="text-3xl font-extrabold mb-4">Our Mission</div>
            <div class="text-base text-gray-500">Leading public health and development companies to make people’s lives
                safer and much better. Our tools to achieve this are strategic planning and execution that consider
                ethics and responsible business.</div>
        </div>
        <div class="col-md-1 col-0 d-flex justify-content-center d-md-block d-none hline"> </div>
        <div class="col-md-2 col-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/Images/icons8-mission-100.png" alt="mission" style="width: 70%;" />
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5" dir="rtl">
        <div class="col-md-6 col-12 d-flex flex-column justify-content-center" dir="ltr">
            <div class="text-3xl font-extrabold mb-4">Our Vision</div>
            <div class="text-base text-gray-500">To be number one worldwide leading corporate in public health and
                development.</div>
        </div>
        <div class="col-md-1 col-0 d-flex justify-content-center d-md-block d-none hline"> </div>
        <div class="col-md-2 col-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/Images/vision.png" alt="mission" style="width: 70%;" />
        </div>
    </div>
    <div class="row d-flex justify-content-center py-3">
        <div class="col-md-6 col-12 d-flex flex-column justify-content-center">
            <div class="text-3xl font-extrabold mb-4">Our Values</div>
            <div class="text-base text-gray-500 pb-4">To be number one worldwide leading corporate in public health and
                development.</div>
        </div>
        <div class="col-md-1 col-0 d-flex justify-content-center d-md-block d-none hline"> </div>
        <div class="col-md-2 col-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/Images/premium-content.png" alt="mission" style="width: 70%;" />
        </div>
        <div class="col-9">
            <div class="py-3">
                <h2 class="text-xl font-bold py-2">- Act with Reliability</h2>
                <p class="ps-4"> Acting with honesty and honor without compromising the truth.</p>
            </div>
            <div class="py-3">
                <h2 class="text-xl font-bold py-2">- Drive for Excellence</h2>
                <p class="ps-4"> Holding people accountable for the highest standards of performance.</p>
            </div>
            <div class="py-3">
                <h2 class="text-xl font-bold py-2">- Keep Care</h2>
                <p class="ps-4"> Showing consideration for one another, recognizing each other’s differences, needs and expectations.</p>
            </div>
            <div>
                <h2 class="text-xl font-bold py-2">- Be Innovative</h2>
                <p class="ps-4"> AHDO family helped shape the modern hospitality industry. We drive for challenging the status quo and anticipate our customers’ changing needs for new guest experiences.</p>
            </div>
            <div>
                <h2 class="text-xl font-bold py-2">- Build a Bridge</h2>
                <p class="ps-4"> We embody openness, communication and accountability. We, as well, operate clearly and openly making it easier for others observing performance.</p>
            </div>
        </div>
    </div>
</div>