<div class="container-fluid">
    <div class="row mt-5">
        <div class="font-[sans-serif] bg-white">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="grid grid-cols-1 gap-y-10 md:grid-cols-2 gap-x-12">
                <div>
                    <div class="text-3xl font-extrabold mb-7">We aim to be number one in specialty, delivering sustainable development</div>
                    <p class="text-base text-gray-500 my-5"><span class="font-extrabold">AHDO</span> – Arab Health and Development Corporation is one of the most leading names in integrated food and water safety, public health hospitality and development solutions.</p>
                    <p class="text-base text-gray-500 mb-5"><span class="font-extrabold">AHDO</span> – team has the highest qualifications that include Ph.D. and M.Sc.</p>
                    <p class="text-base text-gray-500 mb-5"><span class="font-extrabold">AHDO team</span> – field experience includes European Food Safety Authority – Parma, Food and Agriculture Organization (FAO) – Rome, the Codex Alimentarius Commission; formed by both World Health Organization (WHO) and Food and Agriculture Organization (FAO) – Rome, and the International Institute of Agriculture – Florence.</p>
                    <p class="text-base text-gray-500 mb-5"><span class="font-extrabold">AHDO is also approved</span> – by “Highfield- UK”, the European most acknowledged body for training, to deliver 100% of the food safety and HACCP related programs and qualifications.</p>
                    <p class="text-base text-gray-500 mb-5"><span class="font-extrabold">AHDO team experience</span> – covers broad areas from different parts of the world; Europe, Middle East, and Africa.</p>
                </div>
                <div class="text-right">
                    <div class="mb-4">
                        <img src="../../../assets/Images/Our-Tutor-in-Doha-Qatar.jpg" alt="" class="w-100 inline rounded-lg lg:w-10/12 w-full object-cover" />
                        <div class="d-flex justify-content-center text-base text-gray-500 pt-2">Our Tutor in Doha, Qatar</div>
                    </div>
                    <div class="mb-4">
                        <img src="../../../assets/Images/AHDO-team-in-Kenya.jpg" alt="" class="w-100 inline rounded-lg lg:w-10/12 w-full object-cover" />
                        <div class="d-flex justify-content-center text-base text-gray-500 pt-2">AHDO team in Kenya</div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ------------------------------------------------------ -->
          <div class="bg-[#F7F7F7] text-[#333] font-[sans-serif]">
            <div class="max-w-6xl mx-auto py-16 px-4">
              <h2 class="text-4xl font-extrabold text-center mb-16">Discover Our Exclusive Features</h2>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 max-md:max-w-md mx-auto">
                <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <div class="p-6 d-flex justify-content-center flex-column align-items-center">
                    <i class="bi bi-pc-display-horizontal" style="font-size: 2rem;"></i>
                    <h3 class="text-xl font-semibold mb-2">A Digital Agency</h3>
                  </div>
                </div>
                <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <div class="p-6 d-flex justify-content-center flex-column align-items-center">
                    <i class="bi bi-cloud-upload" style="font-size: 2rem;"></i>
                    <h3 class="text-xl font-semibold mb-2">Forward Thinking</h3>
                  </div>
                </div>
                <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <div class="p-6 d-flex justify-content-center flex-column align-items-center">
                    <i class="bi bi-gear" style="font-size: 2rem;"></i>
                    <h3 class="text-xl font-semibold mb-2">Problem Solvers</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>