<div class="container">
    <div class="row">
        <div class="col-md-7 col-12 px-5 my-5">
            <div class="my-md-4 my-2" style="font-size: 2.8rem; font-weight: 700;color: #4D95D0;">AHDO INTEGRATED SOLUTIONS</div>
            <p class="pb-md-4 pb-2" style="color: #666666;font-size: 1rem;">AHDO integrated solutions are intended to enhance clients both safety and quality
                which in its turn will
                be reflected on increased customer satisfaction. This includes establishing the clients Pre-Requisite
                Programs (PRPs), creating the food safety awareness to our clients’ team, monitoring, verification,
                validation, system review and continual improvement.
                Our solutions also include training programs which are developed specially to improve our clients’
                performance. This helps our clients to increase their market share.
            </p>
            <div class="pb-4" style="font-weight: 600; font-size: 1.5rem;">Our Solutions Include:</div>
            <div>
                <div style="font-weight: 500;color: #4D95D0;">1- H&H – HYGIENE & HOSPITALITY</div>
                <ol type="1" class="ps-5 py-3" style="list-style-type: decimal; color: #666666;">
                    <li>Food Premise Design and Layout</li>
                    <li>Auditing</li>
                    <li>Food Safety Consultation; System establishment, Implementation and Verification</li>
                    <li>Supplier Audit</li>
                    <li>Legionella Protocol</li>
                    <li>Sampling</li>
                    <li>Food Poisoning Incidents Investigation</li>
                    <li>Sushi Safety Program</li>
                    <li>Room Hygiene</li>
                    <li>Presidential Events Food Safety Assurance</li>
                    <li>Setting Food and Water Safety Manual</li>
                </ol>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">2- ADA –  ARAB DEVELOPMENT ACADEMY</span>-
                <span style="color: #666666;font-size: 1rem;">our Highfield approved training center</span>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">3- GCS – GREEN CONTROL SERVICE</span>-
                <span style="color: #666666;font-size: 1rem;">integrated pest management services</span>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">4- CSS – CLEANING SMART SOLUTIONS</span>-
                <span style="color: #666666;font-size: 1rem;">provides safe, clean and reliable environment</span>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">5- GHS – GENUINE HOSPITALITY SECTOR</span>-
                <span style="color: #666666;font-size: 1rem;">enhanced performance</span>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">6- MSS – MANUFACTURING SMART SOLUTIONS</span>-
                <span style="color: #666666;font-size: 1rem;">when safety is not an option</span>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">7- AHDO</span>-
                <span style="color: #666666;font-size: 1rem;">Services in Cooperation with <span style="font-weight: 500;color: #4D95D0;">BCI</span></span>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">8- AHDO</span>-
                <span style="color: #666666;font-size: 1rem;">Services in Cooperation with <span style="font-weight: 500;color: #4D95D0;">Swiss Approval International</span></span>
            </div>
            <div class="py-4">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">9-AHDO</span>-
                <span style="color: #666666;font-size: 1rem;">Services in Cooperation with <span style="font-weight: 500;color: #4D95D0;">Nexus</span></span>
            </div>
            <div class="py-4 mb-5">
                <span class="pe-2" style="font-weight: 500;color: #4D95D0;">10- AHDO</span>-
                <span style="color: #666666;font-size: 1rem;">Services in Cooperation with <span style="font-weight: 500;color: #4D95D0;">RoyalCert</span></span>
            </div>
        </div>
        <div class="col-md-5 col-12 d-flex flex-column align-items-center my-5 pe-md-5">
            <img class="my-5" src="../../../assets/Images/INSD1.jpg" />
            <img class="my-5" src="../../../assets/Images/INSD2.jpg" />
        </div>
    </div>
</div>